body {
    margin: 0;
    background-image: linear-gradient(rgb(221, 81, 81), rgb(169, 46, 46));
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: arial;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    cursor: default;
    color: white;
    text-align: center;
    font-size: clamp(.5em, 4em, 6em);
    text-shadow: rgb(183, 183, 183) 3px 3px 0,
                 rgb(112, 112, 112) 5px 5px 0;
    border-bottom: white solid 3px;
}

#nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(.5em, 3em, 5em);
}

#childContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.commonText {
    font-weight: bold;
    font-size: clamp(.5em, 4em, 7vw);
    max-width: 7em;
    word-break: break-all;
    cursor: pointer;
    padding-bottom: .2em;
    transition: .2s;
    border-bottom: rgba(255, 255, 255, 0) solid 3px;
    text-shadow: rgba(0, 0, 0, 0.813) 2px 2px 0;
}

.commonText:hover {
    border-bottom: white solid 3px;
}

button {
    margin: .3em;
}

@media (max-width: 600px){
    #nameContainer{flex-direction: column; margin-top: 2em}
    #title{border-bottom: none; margin:.3em}
    .commonText{margin:0; font-size: 2em;}
}